.file-upload__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #efefef;
}

.file-upload__box {
  width: 65%;
  height: 80%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.file-upload__dragging {
  border: 2px solid #413ed0;
}

.file-upload__title {
  position: absolute;
  font-family: Gilroy-bold;
  font-size: 1.6rem;
  line-height: 24px;
}

.file-upload__drop-area {
  font-family: Gilroy;
  font-size: 1.6rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.upload-info__message {
  position: absolute;
  bottom: 35px;
  background-color: #413ed0;
  color: white;
  padding: 30px;
  border-radius: 14px;
  width: 150px;
  font-weight: 700;
  font-size: 1.5rem;
}
.upload-info__info {
  position: absolute;
  width: 150px;
  bottom: 0;
  right: 10px;
  background: #ffffff;
  border: 2px solid #d2d2d2;
  font-size: 1.1rem;
  padding: 20px;
  text-align: center;
}

.table_component {
  overflow: auto;
  width: 85%;
  font-size: 1rem;
  align-self: flex-start;
  margin-top: 14%;
}

.table_component table {
  border: 1px none #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.table_component caption {
  caption-side: top;
  text-align: left;
}

.table_component tr {
  border-bottom: 1px solid #6c6c6c;
}
.table_component th {
  border: 1px none #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

.table_component td {
  border: 1px none #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}

svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 2px;
}
